<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Python</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <header>
      <h1 class="aye">Best Language?<br>Python.</h1>
    </header>
