 <%- include('partials/nav.ejs') %>
  <nav>
    <a href="/">Home</a>
    <a href="/upsides">Upsides</a>
    <a href="/downsides" class = "current">Downsides</a>
    <a href="/history">History</a>
  </nav>

  <br /><br />
  <div>
    <h2>Not a Big Deal</h2>
  <p>
    These great upsides do come with a small cost however. Since the computer is left with more work than a low level language, it results in a slightly slower compiling time. All this means is that Python won't be used in situations where speed is number one priority. We'll leave that to other languages.  
    </p>
    <img src="/img/turtle.jpg" alt="Turtle" height = "300" width = "300">
    </div>
    
  <%- include('partials/footer.ejs') %>

</html>

