 <%- include('partials/nav.ejs') %>
  <nav>
    <a href="/">Home</a>
    <a href="/upsides">Upsides</a>
    <a href="/downsides">Downsides</a>
    <a href="/history" class="current">History</a>
  </nav>

  <br /><br />
  <div>
    <h2>Back in My Day...</h2>
      <img src="/img/guido.jpg" alt="Guido" height = "300" width = "350">
  <p>
    Development for the language started in the mid 1980s by Guido van Rossum. Originally, its indent-based format was seen as a bad idea, but ultimately it encouraged and led to very easy-to-read code. As Donald Knuth once said, “Programs are meant to be read by humans and only incidentally for computers to execute."
    </p>

    <p id="facts">
      hey
    </p>
</div>
  <%- include('partials/footer.ejs') %>

</html>

