 <%- include('partials/nav.ejs') %>
  <nav>
    <a href="/">Home</a>
    <a href="/upsides" class = "current">Upsides</a>
    <a href="/downsides">Downsides</a>
    <a href="/history">History</a>
  </nav>
<div>
  <img src="/img/easy.jpg" height = "300" width = "300">
  <h2>Too Many to Count</h2>
  <p> As mentioned before, Python is a high-level programing language. This allows for loose-language, meaning that you can type less and have the computer do some of the work for you, such as determining the data type of a variable. It can also take care of lower lever data management, making it easier to work with dynamic data.</p>
  </div> 
  <%- include('partials/footer.ejs') %>

</html>